/.idea
/hooked.iml
/hooked-on-svn/hooked-on-svn.iml
/hooked-on-svn/target
/hooked-on-svn/hooked-on-svn.iml
/hooked-on-svn/target
/hooked-plugin-api/hooked-plugin-api.iml
/hooked-plugin-api/target
/hooked-plugins/hooked-plugins.iml
/hooked-plugins/filedata-collector-plugin/filedata-collector-plugin.iml
/hooked-plugins/filedata-collector-plugin/target
